 *{
        font-family: montserrat;
      }
      :root {
        --text-color: #fff;
        --text-dark: #000;
        --main-color: #29A6AB;
        --darker-shade: #107F84;
        --light-shade: #149BA1;
        --lighter-shade: #C2EAEB;
        --yellow: #FFEE5A;
        --yellow-dark: #FAE100;
      }
      body{
        background: var(--lighter-shade);
      }
      .section-padding{
        padding: 100px 0;
      }
      .navbar-nav a{
        font-size: 15px;
        text-transform: uppercase;
        font-weight: 650;
       }
       .navbar-light .navbar-brand {
        color:  var(--text-dark);
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 2px;
       }
       .navbar-light .navbar-nav .navbar-link{
        color: var(--main-color);
       }
       .navbar-light .navbar-nav a:focus,
       .navbar-light .navbar-nav a:hover {
        color: var(--main-color);
       }
       .navbar-light .navbar-nav .navbar-link{
        color: var(--main-color);
       }
       .w-100{
        height: 100vh;
       }

       .services .card-body i {
          font-size: 50px;
       }

       .card-title {
        color: var(--text-color);
        font-weight: 700;
        text-align: center;
        margin-bottom: 0;
       }
       .custom-card-title{
        color: var(--darker-shade);
        font-weight: 700;
        text-align: center;
        margin-bottom: 0;
       }
       
       .card-text {
        color: var(--main-color);
        font-weight: 400;
        text-align: center;
       }
       .description {
        color: var(--text-color);
        font-weight: 700;
        text-align: center;
        margin-bottom: 0;
       }

      .btn-primary {
          background: var(--yellow);
          border: none;
          color: var(--darker-shade);
          font-weight: 700;
       }
       .btn-primary:hover {
        background: var(--yellow-dark);
        border: solid white 2px;
        color: var(--darker-shade);
       }
       
       .section-header h1 {
        color: var(--main-color);
        font-weight: 700;
        margin-bottom: 0;
       }
       .section-header p {
        color: var(--darker-shade);
        font-weight: 500;
        font-style: italic;
        margin-top: 0;
       }
       ul.list-unstyled li p {
        display: flex;
        align-items: center;
        gap: 10px;
      }

      .price {
        color: var(--yellow-dark);
        font-weight: 700;
        font-size: 80px;
        margin-bottom: 0;
      }
      .list-group-item i {
        margin-right: 10px; 
      }
      .list-group-item {
      display: flex;
      align-items: center;
      }

      .list-group-item i {
        margin-right: 10px; 
      }
      
      .list-group-item p {
        flex-grow: 1;
        margin: 0;
      }
      .form-group {
      text-align: center;
      width: 70%; 
      margin: 0 auto; 
      margin-bottom: 20px;
      }
      .form-group textarea {
      margin-bottom: 10px; 
      }

      .custom-section-header h1{
      margin-bottom: 0; 
      font-size: 30px;
       }
      .modal-footer {
      display: flex;
      justify-content: center;
      width: 70%; 
      margin: 0 auto; 
      }

      .btn-submit {
      width: 150px; 
      height: 50px; 
      font-size: 18px; 
      }
      .lc-block {
      display: flex;
      justify-content: center;
      align-items: center;
      } 
  
    .lc-block img {
      width: 300px; 
      height: 300px; 
      object-fit: contain;
      }
      .btn-learn-more {
      color: white;
      border-color: white;
      }

      .btn-learn-more:hover{
        background: var(--darker-shade);
        border-color: white;
      }

      .lead {
        margin: 0;
        color: white;
      }
      
      .card {
      opacity: 0; 
      transform: translateY(60px); 
      transition: opacity 2s ease-in-out, transform 2s ease-in-out; 
      }
      .card.animate {
        opacity: 1; 
        transform: translateY(0); 
      }
      .animated {
      opacity: 0;
      transform: translateY(60px);
    }
